.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --active-color: #2196f3;
    --bg-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --black-color: #000000;
    --button-bg-color: #f5f4fa;
    --footer-address-color: rgba(255, 255, 255, 0.6);
}
.body {

}

/* Header */
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--active-color);
}
.logo .accent {
    color: var(--black-color);
}
.page-nav-list a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.page-nav-list a:hover,
.page-nav-list:focus {
    color: var(--active-color);
}
.current a {
    color: var(--active-color);
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--active-color);
}
.contacts a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
/* Main */
.section1-:hover,
.section1-:focus {
    color: var(--active-color);
}
.section1-links a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.button:hover,
.button:focus {
    cursor: pointer;
    color: var(--bg-color);
    background-color: var(--active-color);
}
.button .activ {
    background-color: #ffffff;
}

.section2-main-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: var(--primary-text-color);
    letter-spacing: 0.06em;
}
.section2-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    font-family: 'Roboto';
    color: var(--secondary-text-color);

}
/* Footer */
.footer {
    background: var(--secondary-bg-color);
}
.footer-map a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--bg-color);
}
.footer .accent {
    color: var(--bg-color);  
}
