.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --active-color: #2196f3;
    --bg-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --black-color: #000000;
    --button-bg-color: #f5f4fa;
    --footer-address-color: rgba(255, 255, 255, 0.6);
}
/* Body */
.body {
    font-family: 'Roboto';
    color: var(--bg-color);
}

/* Header */
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--active-color);
}
.logo .accent {
    color: var(--black-color);
}
.page-nav-list a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.page-nav-list a:hover,
.page-nav-list:focus {
    color: var(--active-color);
}
.current a {
    color: var(--active-color);
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--active-color);
}
.contacts a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
/* Main */
.main {

}
/* Hero */
.hero-text {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bg-color);
    font-family: 'Roboto';
}
.hero {
    background: var(--secondary-bg-color);
}
.hero-button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--bg-color);
    font-family: 'Roboto';
    background-color: var(--active-color);
}
/* About */
.about-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--primary-text-color);
    font-family: 'Roboto'; 
}
.about-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);    
}
/* Work */
.work {
    background: var(--button-bg-color);
}
/* Team */
.section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.team-names {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    font-family: 'Roboto';
}
.team-position {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    
}
/* Footer */
.footer {
    background: var(--secondary-bg-color);
}
.footer-map a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--bg-color);
}
.footer .accent {
    color: var(--bg-color);  
}
